@font-face {
  font-family: Shrikhand-Regular;
  src: url(../fonts/Shrikhand-Regular.ttf); }
@font-face {
  font-family: Roboto-Black;
  src: url(../fonts/Roboto-Black.ttf); }
@font-face {
  font-family: Roboto-Bold;
  src: url(../fonts/Roboto-Bold.ttf); }
@font-face {
  font-family: Roboto-Medium;
  src: url(../fonts/Roboto-Medium.ttf); }
@font-face {
  font-family: Roboto-Regular;
  src: url(../fonts/Roboto-Regular.ttf); }
@font-face {
  font-family: Roboto-Light;
  src: url(../fonts/Roboto-Light.ttf); }
.unit-0 {
  animation-delay: 0.1s; }

.unit-1 {
  animation-delay: 0.4s; }

.unit-2 {
  animation-delay: 0.7s; }

.unit-3 {
  animation-delay: 1s; }

.unit-4 {
  animation-delay: 1.3s; }

.unit-5 {
  animation-delay: 1.6s; }

.unit-6 {
  animation-delay: 1.9s; }

.unit-7 {
  animation-delay: 2.2s; }

.unit-8 {
  animation-delay: 2.5s; }

.unit-9 {
  animation-delay: 2.8s; }

@keyframes progress-menu-unit {
  from {
    transform: translate(0, 25%);
    opacity: 0; }
  to {
    transform: translate(0, 0);
    opacity: 1; } }
@keyframes animation-check-dish {
  0% {
    transform: rotate(0deg); }
  100% {
    transform: rotate(360deg); } }
@keyframes disappearance-loader {
  0% {
    opacity: 1;
    visibility: visible; }
  100% {
    opacity: 0;
    visibility: hidden; } }
@keyframes spin {
  0% {
    transform: rotate(0deg); }
  100% {
    transform: rotate(360deg); } }
body {
  background-color: white;
  margin: 0; }

header {
  width: 100%;
  position: sticky;
  background-color: white;
  top: 0;
  z-index: 1;
  box-shadow: 0 0 0.2em rgba(0, 0, 0, 0.6); }
  header a i {
    color: #404040;
    font-size: 28px;
    position: fixed;
    top: 30px;
    left: 30px; }
  header .logo {
    font-size: 32px;
    font-family: Shrikhand-Regular;
    text-align: center;
    padding: 20px 0px 10px 0px;
    margin: 0; }

h1 {
  font-family: Roboto-Black;
  font-size: 26px;
  padding: 42px 0 25px 0;
  margin: 0; }

h2 {
  font-family: Roboto-Black;
  font-size: 20px; }

p {
  font-family: Roboto-Medium; }

#loader {
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100vh;
  top: 0;
  left: 0;
  background-color: white;
  z-index: 2;
  animation-delay: 2s;
  animation-duration: 1s;
  animation-name: disappearance-loader;
  animation-fill-mode: forwards; }
  #loader .loader-wheel {
    position: fixed;
    border: 16px solid #F6F6F6;
    border-top: 16px solid #9356DC;
    border-radius: 50%;
    width: 120px;
    height: 120px;
    animation: spin 2s linear infinite; }

#location {
  width: 100%;
  background-color: #ebebeb;
  text-align: center;
  color: #323232; }
  #location i {
    display: inline-block;
    margin-right: 15px; }
  #location p {
    font-family: Roboto-Medium;
    display: inline-block;
    margin-right: 27px; }
  #location i, #location p {
    font-size: 17px; }

#find-restaurant {
  background-color: #F6F6F6;
  padding: 0 9% 0 9%;
  text-align: center;
  padding-bottom: 62px; }
  #find-restaurant h1 {
    padding-left: 13px;
    padding-right: 13px;
    line-height: 1.1;
    padding: 42px 0 0 0; }
  #find-restaurant p {
    font-size: 19px;
    font-family: Roboto-Light; }
  #find-restaurant button {
    margin-top: 15px;
    height: 53px;
    font-size: 18px;
    font-family: Roboto-Regular;
    color: white;
    border: 0;
    border-radius: 25px;
    padding: 0px 25px;
    background: linear-gradient(#FF79DA, #9356DC);
    box-shadow: 0 2px 0.5em rgba(0, 0, 0, 0.4); }

#operation {
  padding: 0 5% 10% 5%; }
  #operation .unit {
    width: 100%;
    position: relative;
    margin-bottom: 27px; }
    #operation .unit__number {
      width: 25px;
      background-color: #9356DC;
      text-align: center;
      border-radius: 12.5px;
      padding: 3.2px 0;
      position: absolute;
      top: 27px; }
      #operation .unit__number p {
        font-family: Roboto-Light;
        margin: auto;
        color: white; }
    #operation .unit__description {
      margin-left: 10px;
      background-color: #F6F6F6;
      padding: 12px 0 12px 35px;
      border-radius: 25px;
      box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
      transition: background-color 0.4s; }
      #operation .unit__description i {
        display: inline-block;
        font-size: 20px;
        margin-right: 20px;
        color: #7e7e7e;
        transition: color 0.4s; }
      #operation .unit__description p {
        display: inline-block;
        font-size: 18px; }
    #operation .unit__description:hover {
      background-color: #f5edff;
      transition: background-color 0.4s; }
      #operation .unit__description:hover i {
        color: #9356DC;
        transition: color 0.4s; }

#restaurants {
  padding: 0 5% 8% 5%;
  background-color: #F6F6F6; }
  #restaurants .unit {
    position: relative;
    margin-bottom: 20px;
    border-radius: 15px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); }
    #restaurants .unit a {
      color: black;
      text-decoration: none; }
    #restaurants .unit img {
      border-radius: 15px 15px 0 0;
      object-fit: cover;
      height: 205px;
      width: 100%; }
    #restaurants .unit__new {
      position: absolute;
      width: auto;
      top: 15px;
      right: 10px;
      background-color: #99E2D0;
      color: #038766;
      padding: 0 10px;
      border-radius: 2px; }
      #restaurants .unit__new p {
        margin: 5px;
        font-size: 14px; }
    #restaurants .unit__description {
      color: black;
      transition: 0.4s color;
      height: 50px;
      background-color: white;
      border-radius: 0 0 15px 15px;
      display: flex;
      flex-wrap: wrap;
      flex-direction: column;
      margin-top: -3px;
      padding: 15px 15px 10px 15px; }
      #restaurants .unit__description h2 {
        margin: 0;
        width: 85%;
        height: auto; }
      #restaurants .unit__description p {
        width: 85%;
        margin: 0;
        font-size: 18px;
        font-family: Roboto-Light; }
      #restaurants .unit__description__heart {
        position: absolute;
        top: 220px;
        right: 20px; }
        #restaurants .unit__description__heart__child {
          position: relative;
          width: 40px;
          height: 48px; }
          #restaurants .unit__description__heart__child i {
            position: absolute;
            cursor: pointer;
            vertical-align: middle;
            font-size: 28px;
            width: 30px;
            font-weight: lighter;
            top: 10px;
            right: 5px;
            color: black; }
          #restaurants .unit__description__heart__child i.no-hover {
            opacity: 100%;
            transition: opacity 0.6s; }
          #restaurants .unit__description__heart__child:hover i.no-hover {
            opacity: 0%;
            transition: opacity 0.4s; }
          #restaurants .unit__description__heart__child i.hover {
            font-weight: bold;
            opacity: 0%;
            background: -webkit-linear-gradient(#9356DC, #FF79DA);
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
            transition: opacity 0.6s; }
          #restaurants .unit__description__heart__child:hover i.hover {
            opacity: 100%;
            transition: opacity 0.6s; }
    #restaurants .unit__description:hover {
      color: #9356DC; }

#illustration img {
  width: 100%;
  height: 270px;
  object-fit: cover; }

.menu {
  margin-top: -55px;
  border-radius: 45px 45px 0 0;
  padding: 0 5% 8% 5%;
  background-color: #F6F6F6;
  position: relative; }
  .menu h1 {
    font-family: Shrikhand-Regular;
    font-size: 28px;
    padding: 38px 0 18px 0; }
  .menu_title_heart i.fa-heart {
    position: absolute;
    top: 44px;
    right: 40px;
    font-size: 28px;
    cursor: pointer; }
  .menu_title_heart i.no-hover {
    font-weight: lighter;
    opacity: 100%;
    transition: opacity 0.6s; }
  .menu_title_heart:hover i.no-hover {
    opacity: 0%;
    transition: opacity 0.4s; }
  .menu_title_heart i.hover {
    font-weight: bold;
    opacity: 0%;
    background: -webkit-linear-gradient(#9356DC, #FF79DA);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    transition: opacity 0.6s; }
  .menu_title_heart:hover i.hover {
    opacity: 100%;
    transition: opacity 0.6s; }
  .menu_category {
    margin-bottom: 55px; }
    .menu_category h2 {
      font-family: Roboto-Light;
      font-size: 18px;
      margin: 16px 0 5px 0; }
    .menu_category .green-underline {
      width: 45px;
      height: 3px;
      background-color: #99E2D0; }
    .menu_category_list {
      width: 100%; }
      .menu_category_list_unit {
        margin: 15px 0 15px 0;
        display: flex;
        position: relative;
        max-height: 150px;
        flex-wrap: wrap;
        background-color: white;
        padding-left: 15px;
        border-radius: 20px;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
        transform: translate(0, 0);
        animation-name: progress-menu-unit;
        animation-duration: 2s;
        animation-fill-mode: forwards;
        opacity: 0;
        overflow: hidden; }
        .menu_category_list_unit h2 {
          font-family: Roboto-Regular;
          width: 80%;
          margin: 11px 0 5px 0;
          font-size: 17px;
          transition: 0.6s width; }
          .menu_category_list_unit h2.title_on_one_line {
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis; }
          .menu_category_list_unit h2.title_on_two_lines {
            display: -webkit-box;
            -webkit-line-clamp: 2;
            -webkit-box-orient: vertical; }
        .menu_category_list_unit_second-line {
          height: 30%;
          width: 81%;
          margin: 0 0 11px 0;
          overflow: hidden;
          text-overflow: ellipsis;
          white-space: nowrap;
          font-family: Roboto-Regular;
          font-size: 14px;
          transition: 0.6s width; }
        .menu_category_list_unit_price {
          font-family: Roboto-Medium;
          margin: 0px;
          padding-left: 5%;
          padding-right: 2%;
          width: 10%; }
        .menu_category_list_unit .check {
          background-color: #99E2D0;
          color: white;
          font-size: 26px;
          width: 20%;
          max-width: 110px;
          height: 100%;
          text-align: center;
          vertical-align: middle;
          transition: 0.6s width, 0.6s right;
          position: absolute;
          right: -20%; }
          .menu_category_list_unit .check .parent_check {
            position: relative;
            width: 100%;
            height: 100%; }
            .menu_category_list_unit .check .parent_check .child_check {
              position: absolute;
              top: 50%;
              left: 50%;
              transform: translate(-50%, -50%); }
      .menu_category_list_unit:hover .menu_category_list_unit_second-line {
        width: 59.5%; }
      .menu_category_list_unit:hover h2 {
        width: 75%; }
        .menu_category_list_unit:hover h2.title_on_one_line {
          width: 59.5%; }
      .menu_category_list_unit:hover .check {
        width: 20%;
        right: 0px; }
        .menu_category_list_unit:hover .check i {
          animation: animation-check-dish 500ms; }
  .menu button {
    height: 53px;
    font-size: 18px;
    font-family: Roboto-Regular;
    color: white;
    border: 0;
    border-radius: 25px;
    padding: 0px 45px;
    background: linear-gradient(#FF79DA, #9356DC);
    box-shadow: 0 2px 0.5em rgba(0, 0, 0, 0.4); }
  .menu-button {
    text-align: center;
    margin-bottom: 25px; }

footer {
  background-color: #323232;
  font-size: 16px;
  color: white;
  padding: 25px 0 15px 28px; }
  footer .little-size {
    font-family: Shrikhand-Regular;
    margin-top: 0;
    font-size: 19px;
    box-shadow: none;
    text-align: left; }
  footer ul {
    padding-left: 0;
    list-style-type: none;
    margin: 0; }
    footer ul li {
      font-family: Roboto-Regular;
      cursor: pointer;
      margin: 9px 0; }
      footer ul li i {
        width: 24px;
        height: 16px; }

@media screen and (min-width: 1025px) {
  .menu {
    padding: 0px 5% 3% 5%; }
    .menu .all-category {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between; }
    .menu_category {
      width: 32%; }
    .menu-button {
      width: 100%;
      display: flex;
      justify-content: center;
      align-items: center; } }
@media screen and (min-width: 769px) {
  #body__all-categories {
    display: flex;
    flex-wrap: wrap; }

  #information-top-page {
    width: 50%; }

  #find-restaurant {
    height: 300px;
    padding: 88px 9%; }

  #operation {
    width: 50%;
    padding: 10px 0; }
    #operation h1 {
      padding-left: 30px; }
    #operation .unit {
      padding-left: 30px;
      width: 87%; }

  #restaurants {
    background-color: #F9F9F9; }
    #restaurants div#all-restaurants {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between; }
      #restaurants div#all-restaurants .unit {
        width: 48%; } }
@media screen and (min-width: 769px) and (max-width: 1024px) {
  .menu {
    padding: 0px 5% 3% 5%; }
    .menu .all-category {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between; }
    .menu_category {
      width: 45%; }
    .menu-button {
      width: 45%;
      display: flex;
      justify-content: center;
      align-items: center; } }
@media screen and (min-width: 620px) and (max-width: 768px) {
  .menu_category_list_unit_price {
    padding-left: 10%;
    transition: padding-left 0.7s;
    width: 6%; }

  .menu_category_list_unit:hover .menu_category_list_unit_second-line {
    width: 75%; }
  .menu_category_list_unit:hover h2 {
    width: 80%; }
    .menu_category_list_unit:hover h2.title_on_one_line {
      width: 80%; }
    .menu_category_list_unit:hover h2 .check {
      width: 10%;
      right: 0px; }
  .menu_category_list_unit:hover .menu_category_list_unit_price {
    padding-left: 2%; } }
@media screen and (min-width: 376px) and (max-width: 619px) {
  .menu_category_list_unit:hover .menu_category_list_unit_price {
    padding-right: 20px;
    padding-left: 3.5%; }
  .menu_category_list_unit:hover .menu_category_list_unit_second-line {
    width: 65%; }
  .menu_category_list_unit:hover h2 {
    width: 66%; }
    .menu_category_list_unit:hover h2.title_on_one_line {
      width: 65%; }
    .menu_category_list_unit:hover h2 .check {
      width: 10%;
      right: 0px; } }

/*# sourceMappingURL=default.css.map */
